openapi: 3.1.0
info:
  title: Chatwork API v2 Contacts Members API
  version: '2'
  description: 'REST API for Chatwork business messaging. Authentication uses an API

    token sent in the X-ChatWorkToken HTTP header, or OAuth 2.0 for third-

    party integrations. Endpoint inventory sourced from the official

    developer documentation index at https://developer.chatwork.com/llms.txt.

    '
  contact:
    name: Chatwork Developer Portal
    url: https://developer.chatwork.com
servers:
- url: https://api.chatwork.com/v2
security:
- chatworkToken: []
tags:
- name: Members
paths:
  /rooms/{room_id}/members:
    parameters:
    - in: path
      name: room_id
      required: true
      schema:
        type: integer
    get:
      tags:
      - Members
      summary: List room members
      operationId: listRoomMembers
      responses:
        '200':
          description: Members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
    put:
      tags:
      - Members
      summary: Update room members and their roles
      operationId: updateRoomMembers
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                members_admin_ids:
                  type: string
                members_member_ids:
                  type: string
                members_readonly_ids:
                  type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    Member:
      type: object
      properties:
        account_id:
          type: integer
        role:
          type: string
          enum:
          - admin
          - member
          - readonly
        name:
          type: string
        chatwork_id:
          type: string
        avatar_image_url:
          type: string
          format: uri
  securitySchemes:
    chatworkToken:
      type: apiKey
      in: header
      name: X-ChatWorkToken
      description: API token issued from your Chatwork account settings.
