openapi: 3.1.0
info:
  title: Chatwork API v2 Contacts Link API
  version: '2'
  description: 'REST API for Chatwork business messaging. Authentication uses an API

    token sent in the X-ChatWorkToken HTTP header, or OAuth 2.0 for third-

    party integrations. Endpoint inventory sourced from the official

    developer documentation index at https://developer.chatwork.com/llms.txt.

    '
  contact:
    name: Chatwork Developer Portal
    url: https://developer.chatwork.com
servers:
- url: https://api.chatwork.com/v2
security:
- chatworkToken: []
tags:
- name: Link
paths:
  /rooms/{room_id}/link:
    parameters:
    - in: path
      name: room_id
      required: true
      schema:
        type: integer
    get:
      tags:
      - Link
      summary: Retrieve invitation link
      operationId: getRoomLink
      responses:
        '200':
          description: Link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteLink'
    post:
      tags:
      - Link
      summary: Create invitation link
      operationId: createRoomLink
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteLink'
    put:
      tags:
      - Link
      summary: Update invitation link
      operationId: updateRoomLink
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteLink'
    delete:
      tags:
      - Link
      summary: Delete invitation link
      operationId: deleteRoomLink
      responses:
        '204':
          description: Deleted
components:
  schemas:
    InviteLink:
      type: object
      properties:
        public:
          type: boolean
        url:
          type: string
          format: uri
        need_acceptance:
          type: boolean
        description:
          type: string
  securitySchemes:
    chatworkToken:
      type: apiKey
      in: header
      name: X-ChatWorkToken
      description: API token issued from your Chatwork account settings.
