openapi: 3.1.0
info:
  title: Chatwork API v2 Contacts Tasks API
  version: '2'
  description: 'REST API for Chatwork business messaging. Authentication uses an API

    token sent in the X-ChatWorkToken HTTP header, or OAuth 2.0 for third-

    party integrations. Endpoint inventory sourced from the official

    developer documentation index at https://developer.chatwork.com/llms.txt.

    '
  contact:
    name: Chatwork Developer Portal
    url: https://developer.chatwork.com
servers:
- url: https://api.chatwork.com/v2
security:
- chatworkToken: []
tags:
- name: Tasks
paths:
  /rooms/{room_id}/tasks:
    parameters:
    - in: path
      name: room_id
      required: true
      schema:
        type: integer
    get:
      tags:
      - Tasks
      summary: List tasks in a room
      operationId: listRoomTasks
      responses:
        '200':
          description: Tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
    post:
      tags:
      - Tasks
      summary: Create a task in a room
      operationId: createRoomTask
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - body
              - to_ids
              properties:
                body:
                  type: string
                to_ids:
                  type: string
                  description: Comma-separated account IDs to assign
                limit:
                  type: integer
                limit_type:
                  type: string
                  enum:
                  - none
                  - date
                  - time
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_ids:
                    type: array
                    items:
                      type: integer
  /rooms/{room_id}/tasks/{task_id}:
    parameters:
    - in: path
      name: room_id
      required: true
      schema:
        type: integer
    - in: path
      name: task_id
      required: true
      schema:
        type: integer
    get:
      tags:
      - Tasks
      summary: Retrieve a task
      operationId: getRoomTask
      responses:
        '200':
          description: Task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
  /rooms/{room_id}/tasks/{task_id}/status:
    parameters:
    - in: path
      name: room_id
      required: true
      schema:
        type: integer
    - in: path
      name: task_id
      required: true
      schema:
        type: integer
    put:
      tags:
      - Tasks
      summary: Update the status of a task
      operationId: updateRoomTaskStatus
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - body
              properties:
                body:
                  type: string
                  enum:
                  - done
                  - open
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    Task:
      type: object
      properties:
        task_id:
          type: integer
        room:
          type: object
          properties:
            room_id:
              type: integer
            name:
              type: string
            icon_path:
              type: string
              format: uri
        assigned_by_account:
          type: object
          properties:
            account_id:
              type: integer
            name:
              type: string
            avatar_image_url:
              type: string
              format: uri
        message_id:
          type: string
        body:
          type: string
        limit_time:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - open
          - done
        limit_type:
          type: string
          enum:
          - none
          - date
          - time
  securitySchemes:
    chatworkToken:
      type: apiKey
      in: header
      name: X-ChatWorkToken
      description: API token issued from your Chatwork account settings.
